.heading
{
    width: 100%;
    text-align: left;
}
.heading h3
{
    display: inline;
}
.heading button
{
    float: right;
    border: 1px solid white;
}
#start, #status
{
    font-size: 22px;
}
canvas
{
    border-style: 5px dashed black;
    border-radius: 20px;
}